#news {
    width: 100%;

    .inner {
        padding: 0 20vw;
        border: 4px solid #333;
        border-top: none;

        .left {
            width: 50%;
            padding: 100px 0;
            border-right: 4px solid #333;

            h1 {
                font: 40px/1 'Jost';
                color: #333;
                margin-bottom: 50px;
            }

            
        }
       
    }
}