#visual {
    width: 100%;
    border: 4px solid #333;
    border-top: none;
    position: relative;

    .scroll {
        position: fixed;
        top: 0;
        right: 0;
        padding: 20px;
        background: #ffdf90;
        border: 1px solid #333;
    }

    .toggle {
        position: absolute;
        top: 0;
        right: 13vw;
        cursor: pointer;
        z-index: 1000;

        >span {
            vertical-align: middle;
            font: 500 16px/1 'Jost';
        }

        .btn {
            display: inline-block;
            position: relative;
            margin: 0 10px;
            width: 80px;
            height: 36px;
            background: #ffdf90;
            border-radius: 20px;
            vertical-align: middle;

            span {
                position: absolute;
                top: 50%;
                left: 5%;
                width: 30px;
                height: 30px;
                margin-top: -15px;
                background: #fff;
                border-radius: 50%;
            }
        }
    }
 
    .swiper {
        width: 100%;

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute; 
            top: 100%;
            margin-top: 0; 
            transform: translateY(-150%);
            color: #333;
        }

        .swiper-button-prev {
            left: 20%;
        }
        .swiper-button-next {
            left: 24%;
        }

        .swiper-slide {
            width: 100%;
            min-height: calc(100vh - 80px);
            padding: 0 20vw;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .tit {
                width: 50%;
                padding-bottom: 130px;
                
                h1 {
                    margin: 2em 0 1em;
                    font: 5vmax/1 'Jost';
                }

                p {
                    margin-bottom: 2em;
                    width: 70%;
                    font: 1.2vmax/1.4 'Jost';
                }

                a {
                    display: block;
                    padding: 20px;
                    width: 170px;
                    text-align: center;
                    border: 2px solid #333;
                    background: #ffdf90;
                    font: 700 16px/1 'Inria Sans';
                }

            }

            .pic {
                border: 1px solid #333;
                width: 50%;
                height: 82vh;
                min-height: 82vh;
                margin-top: 10vw;
                min-width: 470px;
                height: 750px;
                align-self: flex-end;
            }
        }
    }
}


@media screen and (max-width: 1400px) {
    #visual {
        .swiper {
            .swiper-slide {
                .tit {
                    width: 40%;

                    p {
                        width: 75%;
                        font: 1.5vmax/1.4 'Jost';
                    }
                }
    
                .pic {
                    width: 60%;
                    min-width: auto;
                    height: 780px;
                }
            }
        }
    }
}

@media screen and (max-width: 1179px) {
    #visual {
        .swiper {
            .swiper-button-prev {
                left: 20px;
            }

            .swiper-button-next {
                left: 80px;
            }

            .swiper-slide {
                padding: 0 20px;

                .tit {
                    width: 45%;

                    h1 {
                        margin: 140px 0 55px;
                    }
                }
    
                .pic {
                    width: 55%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #visual {
        .swiper {
            .swiper-slide {

                .tit {
                    align-self: center;
                }
    
                .pic {
                    margin-top: 0;
                    height: 600px;
                    align-self: center;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #visual {
        .swiper {
            .swiper-slide {
                flex-direction: column-reverse;

                .tit {
                    width: 100%;

                    h1 {
                        text-align: center;
                        margin: 45px 0 55px;
                    }

                    p {
                        text-align: center;
                        width: 80%;
                        margin: 0 auto 50px;
                    }

                    a {
                        width: 130px;
                        padding: 15px;
                        margin: 0 auto;
                        font-size: 13px;;
                    }
                }
    
                .pic {
                    width: 100%;
                }
            }
        }
    }
}