figure {
    width: 100%; 
    min-height: 700px;
    background: #555;
    position: relative;
}

@media screen and (max-width: $tablet) {
    figure {
        .inner {
            width: 100%; padding: 20px 6vw;
        }
    }
}