.department {
    border: 4px solid #333;
    border-top: none;
    
    >figure {
        >.inner {
            .pic {
                background: url(../../../public/img/subImg1.jpg) no-repeat center/cover;
            }
        }
    }

    section {
        h1 {
            position: relative;
            padding: 100px 0 150px;
            text-align: center;
            font: 40px/1 'Jost';
            border-bottom: 4px solid #333;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 4px;
                height: 100px;
                margin-left: -2px;
                background: #333;

            }
        }

        .inner {
            width: 100%;
            padding: 150px 15vw 0;

            >p {
                width: 60%;
                margin: 0 auto;
                text-align: center;
                font: 35px/1.3 'Jost';
                text-transform: uppercase;
            }
            .mainpic {
                position: relative;
                margin: 100px auto;
                padding-top: 60%;
                width: 70%;
                background: #839893;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 70%;
                    height: 70%;
                    transform: translate(-50%, -50%);
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -100px;
                    left: 50%;
                    width: 4px;
                    height: 130px;
                    margin-left: -2px;
                    background: #333;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -100px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: calc(100vw - 22px);
                    height: 4px;
                    background: #333;
                }
            }

            .member {
                padding: 150px 0;

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }

                .left {
                    float: left;
                    width: 50%;
                    position: relative;
                    padding: 0 30px;
                    border-right: 2px solid #888;
                    min-height: 1000px;
                    
                    h2 {
                        font: 90px/1.2 'Jost';
                        letter-spacing: -10px;
    
                        span {
                            display: block;
                            transform: scaleY(1.6);
                        }
                    }

                    div {
                        position: absolute;
                        top: 300px; left: 30px;
                        width: calc(100% - 60px);
                        opacity: 0;

                        &.on {
                            opacity: 1;
                        }

                        article {
                            position: relative;
                            margin-bottom: 40px;
                            padding-top: 92%;
                            border: 2px solid #333;

                            img {
                                position: absolute;
                                top: 0; left: 0;
                            }
                        }
    
                        p {
                            font: 300 25px/1.2 'Jost';
                            text-align: left;
                            span {
                                float: left;
                                width: 70px;
                                height: 70px;
                                margin: 10px 10px 10px 0;
                                background: #333;
                                color: #fff;
                                font: 60px/70px 'Jost';
                                text-align: center;
    
                            }
                        }
                    }
                    
    
                }
    
                .right {
                    float: left;
                    width: 50%;
                    height: 60vw;
                    position: relative;
                    border-left: 2px solid #888;
                    margin-left: -2px;

                    article {
                        position: absolute;
                        top: 0; left: 50%;
                        transform: translateX(-50%);
                        width: 90%;
                        padding-top: 78%;
                        opacity: 0;

                        img {
                            position: absolute;
                            top: 0; left: 0;
                        }

                        &.on {
                            opacity: 1;
                        }
                    }

                    .tit {
                        position: absolute;
                        width: 90%;
                        bottom: 50px;
                        left: 50%;
                        transform: translateX(-50%);
                        
                        h3 {
                            font: 3vw/1.4 'Jost';
                            color: #333;
                            text-transform: uppercase;
                            letter-spacing: -4px;
                            white-space: nowrap;
                            transform: scaleY(1.4);
                            cursor: pointer;

                        }

                    }
                }
            }
                
            }
    }
}

@media screen and (max-width: 1400px){
    .department {
        section {
            .inner {
                .member {
                    .left {
                        h2 {
                            font: 75px/1.2 'Jost';
                        }

                        div {
                            top: 250px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1179px){
    .department {
        section {
            .inner {
                padding: 150px 15px 0;
                .member {
                    .right {
                        height: 70vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px){
    .department {
        section {
            .inner {
                .member {
                    .left {
                        h2 {
                            font-size: 65px;
                        }
                    }
                    .right {
                        height: 80vw;
                        .tit {
                            h3 {
                                font-size: 3.7vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .department {
        section {
            .inner {
                >p {
                    width: 90%;
                }
                .mainpic {
                    padding-top: 90%;
                    width: 90%;
                }

                .member {
                    .left {
                        h2 {
                            font-size: 45px;
                            letter-spacing: -5px;
                        }

                        div {
                            top: 150px;
                        }
                    }
                    .right {
                        height: 85vw;
                        .tit {
                            h3 {
                                font-size: 4vw;
                                letter-spacing: -1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px){
    .department {
        section {
            .inner {
                >p {
                    font-size: 25px;
                }
                .member {
                    display: flex;
                    flex-direction: column-reverse;
                    .left {
                        padding: 0;
                        width: 100%;
                        border-right: none;
                        min-height: 900px;
                        h2 {
                            font-size: 12vw;
                        }

                        div {
                            left: 0;
                            width: 100%;
                            top: 200px;
                        }
                    }
                    .right {
                        width: 100%;
                        border-left: none;
                        height: 140vw;
                        .tit {
                            h3 {
                                font-size: 5.5vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

